.container {
	display: flex;
	flex-direction: row;
	margin: 100px;
	justify-content: center;
	gap: 30px;
	font-size: 16px;
}

.p {
	font-size: 20px;
}

.titleSection {
	text-align: center;
}

.title {
	font-size: 36px;
	font-weight: 700;
}

@media screen and (max-width: 867px) {
	.container {
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: 20px;
	}
}

@media screen and (max-width: 672px) {
	.image {
		width: 385px;
		height: 365px;
		object-fit: cover;
	}
}

@media screen and (max-width: 410px) {
	.image {
		width: 350px;
		height: 355px;
		object-fit: cover;
	}
}

