.container {
	margin: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	span {
		margin: 35px 0 35px 0;
		text-align: center;
	}
}

.button {
	margin-bottom: 190px;
}

.title {
	font-size: 36px;
	font-weight: 500;
	margin-bottom: 15px;
}

.waiting {
	margin-top: 5px;
	margin-bottom: 270px;
}

.successIcon {
	width: 98px;
	height: 98px;
	color: #4ECB71;
}

.loader {
	width: 98px;
	height: 98px;
	border-radius: 50%;
	position: relative;
	animation: rotate 1s linear infinite
}
.loader::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	inset: 0px;
	border-radius: 50%;
	border: 5px solid #D27C2CE5;
	animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
	100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
	0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
	25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
	50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
	75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
	100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

@media screen and (max-width: 1038px) {
	.container {
		margin: 20px;
		text-align: center;
	}

	.button {
		margin-bottom: 100px;
	}
}
